.Menu {
	-fx-background-color: gray;
}

.conteneurPrincipal {
	-fx-background-color: #42f5b3;
}

.conteneurParametres{
	-fx-alignment: center;
	-fx-padding: 2em;
	-fx-background-color: red;
}

.conteneurParametre{
    -fx-min-height: 45px;
	-fx-max-width: 500px;
	-fx-alignment: center;
	-fx-border-style: solid solid solid solid;
	-fx-border-width: 2px;
}

.conteneurQuestion{
	-fx-alignment: top-left;
	-fx-border-style: solid solid solid solid;

	-fx-border-width: 2px;
}

.conteneurReponse{
	-fx-alignment: top-right;
	-fx-border-style: solid solid solid solid;

	-fx-border-width: 2px;
}

.conteneurParametreTexte{
    -fx-underline: true;
}

.combobox{
	 -fx-pref-width: 150px;
}