#conteneurPrincipal {
  -fx-alignment: top-left;
  -fx-background-color: #95c5db;
}
.grosEspace {
  -fx-min-width: 2em;
  -fx-min-height: 2em;
  -fx-max-width: 8em;
  -fx-max-height: 8em;
}
.petitEspace {
  -fx-min-width: 1em;
  -fx-min-height: 1em;
  -fx-max-width: 4em;
  -fx-max-height: 4em;
}
#conteneurInterne {
  -fx-alignment: top-left;
}
.conteneurSauvegardes {
  -fx-alignment: top-left;
}
.conteneurUneRangee {
  -fx-alignment: center;
}
.conteneurUnItem {
  -fx-alignment: center-left;
}
.conteneurBoutonEffacer {
  -fx-alignment: center-right;
}
.boutonEffacer {
  -fx-border-style: solid;
  -fx-border-color: #161620;
  -fx-border-width: 2px;
  -fx-border-radius: 6px;
  -fx-background-radius: 8px;
  -fx-background-color: #95c5db;
}
.rangeePaire {
  -fx-background-color: #fd5435;
}
.rangeeImpaire {
  -fx-background-color: #fccd0e;
}
